
/* .body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
} */

.todo-container {
  
    max-width: 700px;
  margin: 80px auto;
  padding: 40px;
  border-radius: 25px;
  background: rgba(115, 74, 51, 0.2);

  /* backdrop-filter: blur(12px); */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.397);

  color: #0b0b0b;
}
/* .task-show{

  margin: 10px ; 
  border-radius: 10px; 
} */

.todo-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #3f1f0c;
  margin-bottom: 25px;
   font-family:  sans-serif;
}


.todo-subtitle {
  font-size: 22px;
  color: #48240af1;
  margin-top: 30px;
  border-bottom: 2px dashed #ffd3c2;
  padding-bottom: 8px;
}


.todo-input {
  width: 65%;
  padding: 10px;
  border: 2px solid #4d2717;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 10px;
  transition: border 0.3s ease;


}
ul {
  list-style-type: none;
  
}

.todo-input:focus {
  outline: none;
  border-color: #c158dc;
}

.todo-button {
    min-width: 150px;
    margin-top: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  border-radius: 30px;
    background-color: #562703;
  transition: transform 0.2s ease;
  
  color: white;
 

  
}

.todo-button:hover {
  background-color: #e7884d;
  transform: scale(1.05);
}

.todo-item {
  padding: 13px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #f3e9fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed #ccc;
}


.task-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  margin-top: 30px;
  padding: 16px;
  /* background-color: #fdfcff; */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(19, 14, 19, 0.08);
}

.Total-task,
.Completed-task,
.Pending-task {
  flex: 1;
  min-width: 150px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  padding: 14px;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.Total-task {
  color: #fff;
  background: linear-gradient(135deg,#a74d2cc9, #25180c);
}

.Completed-task {
  color: #fff;
  background: linear-gradient(135deg, #a74d2cc9, #25180c);
}

.Pending-task {
  color: #fff;
  background: linear-gradient(135deg,#a74d2cc9, #25180c);
}

.Total-task:hover,
.Completed-task:hover,
.Pending-task:hover {
  transform: scale(1.05);
}
