.todo-container {

height: 500px;
  padding: 30px;
  border-radius: 20px;
  background: #ea74f7;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

.todo-title {
  text-align: center;
  font-size: 28px;
  color: #590d60;
  margin-bottom: 20px;
}

.todo-subtitle {
  font-size: 20px;
  color: #611e79;
  margin-top: 30px;
  border-bottom: 2px dashed #c6f6d5;
  padding-bottom: 5px;
}

.todo-input {
  width: 98%;
  padding: 10px;
  border: 5px solid #730e75;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 12px;
}

.todo-button {
  width: 100%;
  padding: 10px;
  background-color: #400844;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 20px;
}

.todo-button:hover {
  background-color: #7c0659;
}

.todo-list {
  list-style: none;
  padding-left: 0;
}

.todo-item {
  padding: 10px;
  border-bottom: 1px dashed #3d133a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .todo-item.completed span {
  text-decoration: line-through;
  color: #e689f4;
} */
